body {
  font-size: 0.875rem;
  color : #202124;
}

a,a:hover,a:visited,a:active{
  color : #202124;
}


.sidebar .fas {
  margin-right: 4px;
}

a:hover{
  text-decoration: none;
}
/*
   * Sidebar
   */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.bookmark-properties .d-block {
  margin-right: 10px;
}

.bookmark-properties .d-block .fas {
  margin-right: 5px;
}

.bookmark-properties{
  margin-top: 5px;
}

.bookmark-actions .dropleft .dropdown-toggle::before{
  border : 0;
  margin : 0;
}

.bookmark-actions .dropdown-item {
  font-size: 13px;
}

.bookmark-actions .dropdown-item .fas{
  margin-right: 5px;
  width : 15px
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #dee2e6;
}

.sidebar .nav-link.active {
  font-weight: bold;
  color: #fff;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
  color : #fff;
  font-weight: bold;
}

.sidebar .nav-item {
  padding-right: 10px;
}

@media (min-width: 768px) {
  .sidebar {
    max-height: calc(100vh);
    overflow-y: auto;
  }
}

/*
   * Navbar
   */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: #f8f9fa!important;
  border-color: #dee2e6!important;
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

/*
Bookmark section
*/

.bookmark-section .list-group-item {
  background-color: transparent;
}

.bootstrap-tagsinput .tag {
  background: #287afb;
  border-radius: 4px;
  padding: 4px;
}

.tags-input-wrapper {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.tags-input-wrapper input {
  border: none;
  background: 0 0;
  outline: none;
}
.tags-input-wrapper .tag {
  display: inline-block;
  background-color: #287afb;
  color: #fff;
  border-radius: 4px;
  padding: 0 4px;
  margin-right: 4px;
}
.tags-input-wrapper .tag a {
  margin: 0;
  display: inline-block;
  cursor: pointer;
}

#alert {
  position: fixed;
  right: 5%;
  bottom :5%;
  width: 20%;
  display: none;
}

label.error{
  color : red
}